
html
    head
        style
            include style.css
        title= 'Socket Chat'
    body
        ul#messages
        form#form(action="")
            input#input(autocomplete="off")
            button send

    script(src="/socket.io/socket.io.js")
    script(src="../client.js")

