html
    head
        style
            include style.css
        title= 'Chat'
    body
        .container
            ul.text-area
                li 1
                li 2
            .input-area

                .name [chat #{name}]
                input(placeholder='...')
            .line
                //form
                  button.send-btn