body {
	margin: 0;
}

.container {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #000;
	background-image: url(pic/purple-370132.png) ;
}
.window{
	width: 30%;
	min-width: 290px;
	display: flex;
	flex-direction: column;
	#justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0 15px;
	padding: 10px;
	#border: 3px solid #aaa;
	border-radius: 10px;
}

.window-label{
	font-size: 32px;
	color: #fffff6;
	margin-top: 10px;
	margin-bottom: 15px;
	text-shadow: 1px 1px #222;
}

.window>form{
	display: flex;
	flex-direction: column;
	#justify-content: center;
	align-content: center;
	align-items: center;
}


.window>form input{
	width: 200px;
	margin: 5px 50px;
	padding: 3px;
	#border: 3px solid #111;
}

.log{
	background-color: #8c5a73;
	z-index: 1;
}

.reg {
	background-color: #4a3d5c;
	border-top: 0;
	margin-top: -15px;
	z-index: 0;
}

.enter-button{
	align-self: center;
	border-radius: 5px;
	margin: 7px 0px 3px ;
}
