body {
	margin: 0;
}

.container {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	height: 100vh;
	min-height: 600px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #000;
  background-image: url(pic/purple-370132.png) ;
}
.window{
	width: 30%;
	min-width: 270px;
	display: flex;
	flex-direction: column;
	#justify-content: center;
	align-content: center;
	align-items: center;
	margin: 0 15px;
	padding: 10px;
	border-radius: 10px;
}


.window>form{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	#justify-content: center;
	align-content: center;
	align-items: center;
}


.window>form input{
	width: 200px;
	margin: 5px 50px;
	padding: 3px;
	#border: 3px solid #111;
}

.log{
	background-color: rgba(140, 90, 115, 1);
	z-index: 1;
}

.reg{
	/*width: 281px;*/
	background-color: rgba(74, 61, 92, 1);
	border-top: 0;
	margin-top: -15px;
	z-index: 0;
}

@keyframes buttonBorder{
	0% {}
	100% {color: rgba(140, 90, 115, 1);
		background-color: #fff}
}

.border-button{
	color: #fff;
	text-transform: uppercase;
	align-self: center;
	display: flex;
	justify-content: center;
	border: #fff 3px solid;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px #fff;
  transition: box-shadow 0.2s linear;
	margin: 5px 50px;
	padding: 1px;
	width: 213px;
	margin-bottom: 25px;
}

.border-button:hover{
	animation: buttonBorder 1s ease forwards;
	box-shadow: 0px 0px 0px 2px #fff;
}


a:link {  text-decoration: none;}
a:visited { text-decoration: none; color: #fff}
a:active { text-decoration: none; }
a:hover {
    text-decoration: none;
     }
