body {
	margin: 0;
}

.container {
	font-family: Arial, Geneva, Helvetica, sans-serif;
	height: 100vh;
	min-height: 600px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background-image: url(pic/purple-370132.png);
}

.window{
	width: 30%;
	min-width: 270px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin: 0 15px;
	padding: 10px;
	border-radius: 10px;
	transition: background-color 0.25s ease-in;
}

.window>form{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin-top: 30px;
}


.window>form input{
	width: 200px;
	margin: 5px 50px;
	padding: 3px;
	color: inherit;
	background-color: ghostwhite;
	border: solid 3px aliceblue;
	border-radius: 3px;
}

.inp {
  display: flex;
  align-items: center;
	justify-content: center;
  position: relative;
}
.err {
	font-size: 12px;
	font-family: 'Courier New', monospace;
	width: 200px;
	height: 30px;
	background-color: ghostwhite;
	position: absolute;
	left: 290px;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: visible;
	opacity: 0;
	transition: opacity 0.25s ease-in;
	border: 3px solid mediumslateblue;
	border-radius: 3px;
}


.log:hover{
	background-color: rgba(140, 90, 115, 0.9);
}
.reg{
	border-top: 0;
	margin-top: -15px;
	z-index: 0;
}

.reg:hover{
	background-color: rgba(74, 61, 92, 0.9);
}


@keyframes buttonBorder{
	0% {}
	100% {color: rgba(140, 90, 115, 1);
		background-color: #fff}
}

.border-button{
	color: #fff;
  background-color: inherit;
	text-transform: uppercase;
	align-self: center;
	display: flex;
	justify-content: center;
	border: #fff 3px solid;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 0px #fff;
  transition: box-shadow 0.75s linear;

	padding: 1px;
	width: 217px;
	margin: 5px 0 25px ;
}
.border-button:disabled{
	border: 1px solid #999999;
  background-color: #cccccc;
  color: #cccccc;
}


.reg .border-button:hover{
	animation: buttonBorder 1s ease forwards;
	box-shadow: 0px 0px 0px 4px rgb(140, 90, 115);
}

.log .border-button:hover{
	animation: buttonBorder 1s ease forwards;
	box-shadow: 0px 0px 0px 4px rgb(74, 61, 92);
}


button:link{text-decoration: none;}
button:visited{text-decoration: none; color: #fff}
button:active{text-decoration: none}
button:hover{text-decoration: none}
